<br/>
<ul>
<li><%= link_to l(:label_time_sheet), url_for(:controller => "sptime", :action => 'index'), :class => 'icon icon-time-add' %></li><br/>
<li><%= link_to l(:label_proj_plan), url_for(:controller => "spprojectplan", :action => 'index'), :class => 'icon icon-projects' %></li>
</ul>